<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>Entity1ServletCreate</display-name>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletCreate</servlet-name>
    <url-pattern>/Entity1ServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Entity1ServletRead</display-name>
    <servlet-name>Entity1ServletRead</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletRead</servlet-name>
    <url-pattern>/Entity1ServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletUpdate</display-name>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletUpdate</servlet-name>
    <url-pattern>/Entity1ServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>Entity1ServletDelete</display-name>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <servlet-class>entity1.web.servlet.Entity1ServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entity1ServletDelete</servlet-name>
    <url-pattern>/Entity1ServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>InitializeDB</display-name>
    <servlet-name>InitializeDB</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitializeDB</servlet-name>
    <url-pattern>/InitializeDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>student_contact_infoServletCreate</display-name>
    <servlet-name>student_contact_infoServletCreate</servlet-name>
    <servlet-class>student_contact_info.web.servlet.student_contact_infoServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_contact_infoServletCreate</servlet-name>
    <url-pattern>/student_contact_infoServletCreate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>student_contact_infoServletRead</display-name>
    <servlet-name>student_contact_infoServletRead</servlet-name>
    <servlet-class>student_contact_info.web.servlet.student_contact_infoServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_contact_infoServletRead</servlet-name>
    <url-pattern>/student_contact_infoServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>student_contact_infoServletDelete</display-name>
    <servlet-name>student_contact_infoServletDelete</servlet-name>
    <servlet-class>student_contact_info.web.servlet.student_contact_infoServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_contact_infoServletDelete</servlet-name>
    <url-pattern>/student_contact_infoServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>student_contact_infoServletUpdate</display-name>
    <servlet-name>student_contact_infoServletUpdate</servlet-name>
    <servlet-class>student_contact_info.web.servlet.student_contact_infoServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_contact_infoServletUpdate</servlet-name>
    <url-pattern>/student_contact_infoServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>student_infoServletCreate</display-name>
    <servlet-name>student_infoServletCreate</servlet-name>
    <servlet-class>student_info.web.servlet.student_infoServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_infoServletCreate</servlet-name>
    <url-pattern>/student_infoServletCreate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>student_infoServletRead</display-name>
    <servlet-name>student_infoServletRead</servlet-name>
    <servlet-class>student_info.web.servlet.student_infoServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_infoServletRead</servlet-name>
    <url-pattern>/student_infoServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>student_infoServletDelete</display-name>
    <servlet-name>student_infoServletDelete</servlet-name>
    <servlet-class>student_info.web.servlet.student_infoServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_infoServletDelete</servlet-name>
    <url-pattern>/student_infoServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>student_infoServletUpdate</display-name>
    <servlet-name>student_infoServletUpdate</servlet-name>
    <servlet-class>student_info.web.servlet.student_infoServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>student_infoServletUpdate</servlet-name>
    <url-pattern>/student_infoServletUpdate</url-pattern>
  </servlet-mapping>
  
        <servlet>
    <description></description>
    <display-name>uic_classesServletCreate</display-name>
    <servlet-name>uic_classesServletCreate</servlet-name>
    <servlet-class>uic_classes.web.servlet.uic_classesServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uic_classesServletCreate</servlet-name>
    <url-pattern>/uic_classesServletCreate</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <description></description>
    <display-name>uic_classesServletRead</display-name>
    <servlet-name>uic_classesServletRead</servlet-name>
    <servlet-class>uic_classes.web.servlet.uic_classesServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uic_classesServletRead</servlet-name>
    <url-pattern>/uic_classesServletRead</url-pattern>
  </servlet-mapping>
  
       <servlet>
    <description></description>
    <display-name>uic_classesServletDelete</display-name>
    <servlet-name>uic_classesServletDelete</servlet-name>
    <servlet-class>uic_classes.web.servlet.uic_classesServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uic_classesServletDelete</servlet-name>
    <url-pattern>/uic_classesServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>uic_classesServletUpdate</display-name>
    <servlet-name>uic_classesServletUpdate</servlet-name>
    <servlet-class>uic_classes.web.servlet.uic_classesServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uic_classesServletUpdate</servlet-name>
    <url-pattern>/uic_classesServletUpdate</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>vaccination_cardServletCreate</display-name>
    <servlet-name>vaccination_cardServletCreate</servlet-name>
    <servlet-class>vaccination_card.web.servlet.vaccination_cardServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vaccination_cardServletCreate</servlet-name>
    <url-pattern>/vaccination_cardServletCreate</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>vaccination_cardServletRead</display-name>
    <servlet-name>vaccination_cardServletRead</servlet-name>
    <servlet-class>vaccination_card.web.servlet.vaccination_cardServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vaccination_cardServletRead</servlet-name>
    <url-pattern>/vaccination_cardServletRead</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>vaccination_cardServletDelete</display-name>
    <servlet-name>vaccination_cardServletDelete</servlet-name>
    <servlet-class>vaccination_card.web.servlet.vaccination_cardServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vaccination_cardServletDelete</servlet-name>
    <url-pattern>/vaccination_cardServletDelete</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <description></description>
    <display-name>vaccination_cardServletUpdate</display-name>
    <servlet-name>vaccination_cardServletUpdate</servlet-name>
    <servlet-class>vaccination_card.web.servlet.vaccination_cardServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vaccination_cardServletUpdate</servlet-name>
    <url-pattern>/vaccination_cardServletUpdate</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name> 
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>displayDoseDate</display-name>
    <servlet-name>displayDoseDate</servlet-name> 
    <servlet-class>vaccination_card.web.servlet.displayDoseDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayDoseDate</servlet-name>
    <url-pattern>/displayDoseDate</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
